In [6]:
# import libraries
import pandas as pd
import numpy as np
import mlxtend as ml
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [65]:
# import emoji dataset
emoji = pd.read_csv('emoji-mainia.csv', header=None)
emoji.head()

# convert dataset to list
emoji_list = emoji.values.tolist()
#emoji_list = np.array(emoji_list)

# drop nan values
for i in range(len(emoji_list)):
    emoji_list[i] = [x for x in emoji_list[i] if pd.notnull(x)]

emoji_list

[['😂', '🍎', '🏀', '🐶'],
 ['😂', '🍎', '🐶'],
 ['😂', '🏀', '🐶'],
 ['😂', '🏀', '🍎'],
 ['😂', '🏀', '🐶'],
 ['😂', '🍎'],
 ['😂', '🏀'],
 ['😂', '🐶']]

In [68]:
# creat the encoded dataset
te = TransactionEncoder()
te_ary = te.fit(emoji_list).transform(emoji_list)

# convert the encoded dataset into a dataframe
df = pd.DataFrame(te_ary, columns=te.columns_)
df

       🍎      🏀      🐶     😂
0   True   True   True  True
1   True  False   True  True
2  False   True   True  True
3   True   True  False  True
4  False   True   True  True
5   True  False  False  True
6  False   True  False  True
7  False  False   True  True

In [78]:
# Apriori Algorithm function from mlxtend
apriori(df, min_support=.375, use_colnames=True)

   support   itemsets
0    0.500        (🍎)
1    0.625        (🏀)
2    0.625        (🐶)
3    1.000        (😂)
4    0.500     (😂, 🍎)
5    0.375     (🏀, 🐶)
6    0.625     (😂, 🏀)
7    0.625     (😂, 🐶)
8    0.375  (😂, 🏀, 🐶)